## Day 2 assignment
##### What is the difference between return statement and print statement?
###### The return statement stores the value and this value can be used by the system whenever it is required, while the print statement is used to output any given variable or string onto the screen

In [1]:
import pandas as pd
df = pd.read_csv ('train_data_cross-sell.csv', encoding='latin1')
df.rename(columns = {'Ã¿id': 'id'}, inplace = True)
df.head()

,id,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0

In [3]:
df_sorted = df.sort_values(by='Agent_name', ascending=True)
df_sorted.head(25)

,id,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
60349,347359018,Male,"Saturday, January 9, 1965",1,NAROK SOUTH,1,2009,No,28265,Achieng Kwamboka,"Friday, November 10, 2023",0
86500,349931875,Female,"Saturday, March 1, 1986",1,KASARANI,0,2013,Yes,32271,Akinyi Chepkorir,"Tuesday, September 12, 2023",0
87013,760803848,Male,"Monday, October 1, 1973",1,KASARANI,0,2017,Yes,2630,Akinyi Chepkorir,"Friday, August 4, 2023",0
84774,576720094,Female,"Monday, September 9, 1985",1,ISINYA,0,2015,Yes,2630,Akinyi Chepkorir,"Thursday, August 24, 2023",0
42123,530807088,Female,"Tuesday, January 23, 1979",1,KASARANI,1,2009,No,2630,Akinyi Chepkorir,"Saturday, April 8, 2023",0
116897,701129581,Male,"Thursday, March 30, 1978",1,DAGORETTI,0,2009,Yes,40877,Akoth Cherono,"Tuesday, October 31, 2023",0
161979,416592305,Female,"Sunday, January 1, 1984",1,EMBAKASI,0,2011,No,33913,Akoth Cherono,"Thursday, July 6, 2023",0
103687,286791315,Male,"Friday, December 6, 1974",1,KIAMBAA,0,2015,Yes,2630,Akoth Cherono,"Monday, January 1, 2024",0
236346,331298792,Male,"Wednesday, December 29, 1976",1,NAKURU NORTH,0,2019,Yes,2630,Akoth Cherono,"Wednesday, June 14, 2023",0
211202,529582442,Male,"Tuesday, January 17, 1978",1,EMBAKASI,0,2017,Yes,47609,Akoth Cherono,"Tuesday, September 19, 2023",0
283717,171694862,Male,"Thursday, March 1, 1979",1,EMBAKASI,0,2012,Yes,51939,Akoth Cherono,"Monday, November 13, 2023",0
61432,659345041,Female,"Friday, April 7, 1967",1,THIKA WEST,1,2017,No,2630,Anyango Auma,"Sunday, December 3, 2023",0
304966,365383551,Female,"Saturday, March 8, 1975",1,THIKA WEST,0,2010,Yes,2630,Anyango Auma,"Thursday, September 7, 2023",0
61317,393129072,Male,"Monday, April 4, 1977",1,THIKA WEST,0,2009,Yes,2630,Anyango Auma,"Thursday, March 30, 2023",0
140305,511417312,Female,"Tuesday, December 27, 1977",1,THIKA WEST,1,2011,No,2630,Anyango Auma,"Wednesday, October 4, 2023",0
226733,319193467,Male,"Saturday, April 5, 1986",1,THIKA WEST,0,2020,Yes,2630,Anyango Auma,"Thursday, November 23, 2023",0
110613,815424840,Female,"Thursday, November 21, 1963",1,THIKA WEST,1,2011,No,2630,Anyango Auma,"Sunday, July 2, 2023",0
212968,470095517,Female,"Friday, March 19, 1965",1,THIKA WEST,1,2018,No,2630,Anyango Auma,"Monday, September 18, 2023",0
267779,189452814,Female,"Monday, November 2, 1987",1,EMBAKASI,1,2012,No,23033,Atieno Makena,"Sunday, September 3, 2023",0
90336,472477365,Female,"Thursday, November 18, 1982",1,NAROK NORTH,1,2010,No,34299,Atieno Makena,"Saturday, April 8, 2023",0
272229,481645808,Male,"Tuesday, November 7, 1978",1,SAMBURU,1,2018,No,42526,Atieno Makena,"Saturday, July 22, 2023",0
308524,965729381,Female,"Wednesday, April 9, 1952",1,NAROK NORTH,1,2016,No,41900,Atieno Makena,"Tuesday, September 5, 2023",0
173897,485855648,Female,"Monday, April 3, 1989",1,NAROK NORTH,1,2016,No,35089,Atieno Makena,"Tuesday, August 8, 2023",0
240888,654717501,Male,"Tuesday, March 8, 1955",1,NAIVASHA,1,2011,No,28009,Atieno Makena,"Thursday, August 10, 2023",0
44908,489892301,Female,"Thursday, December 20, 1979",1,NAROK NORTH,1,2009,No,33561,Atieno Makena,"Friday, March 31, 2023",0

In [4]:
# Step 1: Calculate performance scores (Premium and agent name)
performance_scores = df.groupby('Agent_name')['Annual_Premium'].sum().reset_index(name='performance_score')

# Step 2: Merge the performance scores back into the original DataFrame
df = df.merge(performance_scores, on='Agent_name')

# Step 3: Define performance categories based on quartiles as an example
performance_quartiles = df['performance_score'].quantile([0.25, 0.5, 0.75]).to_dict()
def get_performance_category(score):
    if score <= performance_quartiles[0.25]:
         return 'Low'
    elif score <= performance_quartiles[0.5]:
         return 'Medium'
    elif score <= performance_quartiles[0.75]:
         return 'High'
    else:
         return 'Top'
df['Performance_Category'] = df['performance_score'].apply(get_performance_category)
df.head()

,id,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response,performance_score,Performance_Category
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1,2284661069,Medium
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0,3540111121,High
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0,3540111121,High
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0,475238042,Low
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0,3540111121,High